
/* Styles de base pour le corps de la page */
body {
   background-color: #b77520; /* Couleur de fond de la page (remplacez par celle que vous souhaitez) */
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}


/* Style de base pour le menu de navigation */
nav ul {
    list-style: none; /* Supprime les puces de la liste */
    margin: 0;
    padding: 0;
 }
 
 nav li {
    display: inline; /* Affiche les éléments de navigation côte à côte */
    margin-right: 20px; /* Espace entre les éléments */
 }
 
 /* Styles des liens du menu */
 nav a {
    text-decoration: none; /* Supprime les styles de lien par défaut */
    padding: 5px 10px; /* Espace intérieur pour les liens */
    border: 1px solid #333; /* Bordure autour des liens */
    background-color: #333; /* Couleur de fond des liens */
    color: #fff; /* Couleur du texte des liens */
    font-weight: bold; /* Police en gras */
    border-radius: 5px; /* Coins arrondis */
 }
 
 /* Style au survol des liens */
 nav a:hover {
    background-color: #555; /* Couleur de fond au survol */
    color: #fff; /* Couleur du texte au survol */
 }
 